<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %>
    <meta name="csrf-token" content="<%= locals.csrfToken %>">
    <meta name="my-player-name" content="<%= viewData.yourPlayerName %>">
    <meta name="my-player-symbol" content="<%= viewData.yourPlayerSymbol %>">
    <meta name="is-my-turn" content="<%= viewData.isYourTurn %>">
    <meta name="continue-game" content="<%= viewData.continueGame %>">
    <meta name="is-game-over" content="<%= viewData.isGameOver %>">
    <meta name="invitation-url" content="<%= viewData.invitationUrl %>">
    <meta name="is-other-player-connected" content="<%= viewData.isOtherPlayerConnected %>">
    <link rel="stylesheet" href="/styles/form.css" />
    <link rel="stylesheet" href="/styles/configuration.css" />
    <link rel="stylesheet" href="/styles/game.css" />
    <script src="/scripts/utils-script.js" defer></script>
    <script src="/scripts/ajax-script.js" defer></script>
    <script src="/scripts/config-script.js" defer></script>
    <script src="/scripts/game-script.js" defer></script>
    <script src="/scripts/main-script.js" defer></script>
  </head>
  <body>
    <%- include("includes/backdrop") %> 
    <%- include("includes/header") %>
    <main>
      <%- include("includes/game-config") %>
      <%- include("includes/active-game") %>
    </main>
  </body>
</html>
